body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

p {
  font-size: 1.4em;
  font-weight: 300;
  margin: 5px;
}

h1 {
  font-weight: 300;
  font-size: 3em;
  margin: 5px;
}

button {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
}

.container {
  padding-bottom: 60px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  text-align: center;
  background: #607D8B;
  z-index: 10;
}

.header h1 {
  color: #fff;
  font-weight: 400;
}

.header > .home-link {
  position: fixed;
  left: 10px;
  top: 35px;
  color: #fff;
  text-decoration: none;
}

.header > .home-link > svg {
  margin-top: -3px;
  margin-right: 3px;
}

.header > .add-link {
  position: fixed;
  right: 10px;
  top: 35px;
  color: #fff;
  text-decoration: none;
}

.header > .add-link > svg {
  margin-top: -2px;
  margin-right: 3px;
}

.content {
  position: relative;
  top: 60px;
}

.posts-list > ul {
  padding: 0;
}

a.edit-link {
  font-size: 1.1em;
}

a.edit-link > svg {
  margin-right: 3px;
}

.posts-list > .links {
  position: fixed;
  right: 0;
  width: 160px;
  height: 100%;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d8d8d8+0,f3f9fb+69,ffffff+100 */
  background: #d8d8d8; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #d8d8d8 0%, #f3f9fb 69%, #ffffff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #d8d8d8 0%,#f3f9fb 69%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #d8d8d8 0%,#f3f9fb 69%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8d8d8', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.posts-list > .links > .category-links > h3 {
  padding-left: 10px;
  margin-bottom: 5px;
  color: #3d4d54;
}

.posts-list > .links > .category-links > ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.posts-list > .links > .category-links > ul > li {
  width: 100%;
  height: 20px;
  padding: 3px 15px;
}

.posts-list > .links > .category-links > ul > li.selected {
  background: #fff;
  padding: 6px 15px;
}

.posts-list > .links > .category-links > ul > li > a {
  text-decoration: none;
  color: #607D8B;
  font-weight: 400;
}

.posts-list > .links > .category-links > ul > li.selected > a {
  color: #000;
  font-weight: 800;
}

.posts-list > .links > .sort-links > h3 {
  padding-left: 10px;
  margin-bottom: 0;
  color: #3d4d54;
}

.posts-list > .links > .sort-links > ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.posts-list > .links > .sort-links > ul > li {
  width: 100%;
  height: 20px;
  padding: 3px 15px;
}

.posts-list > .links > .sort-links > ul > li > button {
  border: none;
  background: transparent;
  font-size: 1em;
  color: #607D8B;
  font-weight: 400;
  outline: none;
}

.posts-list > .links > .sort-links > ul > li.selected > button {
  font-weight: 800;
  color: #000;
}

.posts-list > .posts > h3 {
  margin: 0;
  padding: 15px;
}

.posts-list > .posts > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.posts-list > .posts h2 {
  font-size: 1.4em;
  font-weight: 400;
  margin: 3px 0;
}

.posts-list > .posts h2 > a {
  text-decoration: none;
}

.comments {
  font-size: .7em;
  font-weight: 400;
}

.posts-list > .posts .post:first-child {
  border-top: 1px solid silver;
}

.post {
  margin: 0 160px 0 0;
  padding: 25px 0;
  border-bottom: 1px solid silver;
}

.post > .votes {
  position: absolute;
  width: 50px;
  text-align: center;
  margin-top: -15px;
}

.post > .votes button {
  border: none;
  background: transparent;
  padding: 5px;
  height: 35px;
  color: darkgray;
  outline: none;
}

.post > .votes button.up {
  margin-top: -20px;
}

.post > .votes > span {
  font-size: 1.1em;
  font-weight: 400;
}

.post > .post-body {
  margin-left: 50px;
}

.post > .post-body > h2 {
  margin: 5px 0;
  font-size: 1.6em;
  font-weight: 400;
}

.post > .post-body > h2 > a {
  text-decoration: none;
  color: #005998;
}

.post > .post-body > span {
  font-size: 1.2em;
}

.post > .post-footer {
  margin-top: 10px;
  margin-left: 50px;
  text-align: right;
  padding: 10px 10px 10px 0;
}

.post > .post-footer > .buttons {
  float: left;
  height: 25px;
}

.post > .post-footer > .buttons > .edit {
  margin: 0px 5px;
}

.post > .post-footer > .buttons > .edit > a {
  text-decoration: none;
  color: #000;
}

.post > .post-footer > .buttons > .delete {
  margin: 0px 5px;
}

.post > .post-footer > .buttons > .delete > button {
  border: none;
  background: transparent;
  font-size: 1em;
  outline: none;
  cursor: pointer;
}

.post > .post-footer > .buttons > .delete > button > svg {
  margin-top: -3px;
  margin-right: 2px;
}

.post > .post-footer > .info1, .info2 {
  float: right;
}

.post > .post-footer > .info1 > .comments {
  font-size: .9em;
}

.post > .post-footer > .info1 > .category {
  font-size: .9em;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  padding: 1px 5px 2px 5px;
  margin: 0 5px;
  background: #d3f1f5;
}

.post > .post-footer > .info2 > .author {
  font-size: .9em;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 1px 4px 2px 4px;
  background: #f5f7e2;
}

.post > .post-footer > .info2 > .author > svg {
  padding-right: 3px;
}

.post > .post-footer > .info2 > .timestamp {
  font-size: .9em;
  padding: 1px 10px 2px 10px;
}

.edit-post {
  padding: 10px;
}

.edit-post > h2 {
  margin: 0;
}

.field-group {
  width: 100%;
  padding: 10px;
}

input, label {
  display:block;
}

.field-group > label {
  font-size: .7em;
  font-weight: 400;
  margin-bottom: 3px;
}

.field-group > input, select, textarea {
  width: 96%;
  padding: 4px 6px;
  font-size: .9em;
  font-weight: 300;
  border: 1px solid #b3b3b3;
  border-radius: 3px;
  min-height: 22px;
}

.field-group > textarea {
  min-height: 250px;
}

.field-group > select {
  height: 32px;
  width: 98%;
}

.post-footer {
  text-align: center;
  margin: 15px 0;
}

button.primary {
  min-height: 30px;
  font-size: 1.2em;
  background: dodgerblue;
  padding: 5px 10px;
  margin: 0 5px;
  border: 1px solid #808080;
  border-radius: 5px;
  color: #fff;
}

button.cancel, a.cancel {
  min-height: 30px;
  font-size: 1.2em;
  padding: 5px 10px;
  margin: 0 5px;
  border: 1px solid #808080;
  border-radius: 5px;
  text-decoration: none;
  color: #000;
  background: #fff;
}

.view-post > ul, li {
  list-style: none;
}

.view-post .post {
  margin: 0;
  border: none;
}

.view-post .comments {
  margin-left: 50px;
}

.view-post .comments > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.view-post .comments > ul > li:first-child .comment {
  border-top: 1px solid #dadada;
}

.view-post .comment {
  margin: 0;
  padding: 7px 0;
  border-bottom: 1px solid #dadada;
}

.view-post .comment > .votes {
  position: absolute;
  width: 30px;
  text-align: center;
  margin-top: -7px;
}

.view-post .comment > .votes button {
  border: none;
  background: transparent;
  padding: 5px;
  height: 25px;
  color: darkgray;
  outline: none;
}

.view-post .comment > .votes button.up {
  margin-top: -20px;
}

.view-post .comment > .votes > span {
  font-size: 1.1em;
  font-weight: 400;
}

.view-post .comment > .comment-body {
  margin-left: 30px;
}

.view-post .comment > .comment-body > span {
  font-size: 1.1em;
}

.comment-footer {
  margin: 10px 0 15px 25px;
  text-align: right;
  padding: 10px;
}

.comment-footer > .buttons, .info {
  float: right;
}

.comment-footer > .buttons > .edit {
  margin: 0 3px 0 0;
  border: none;
  background: transparent;
  font-size: 1em;
  outline: none;
  cursor: pointer;
}

.comment-footer > .buttons > .edit > svg {
  margin-right: 2px;
}

.comment-footer > .buttons > .delete {
  margin: 0 3px 0 0;
  border: none;
  background: transparent;
  font-size: 1em;
  outline: none;
  cursor: pointer;
}

.comment-footer > .buttons > .delete > svg {
  margin-right: 2px;
}

.comment-footer > .info > .author {
  font-size: .9em;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 1px 4px 2px 4px;
  background: #f5f7e2;
  margin-right: 5px;
}

.comment-footer > .info > .author > svg {
  padding-right: 3px;
}

.comment-footer > .info > .timestamp {
  font-size: 1em;
}

.view-post .add-comment {
  float: right;
  margin-top: -25px;
  border: none;
  background: transparent;
  color: #005998;
  font-size: 1.2em;
  outline: none;
  cursor: pointer;
}

.view-post .add-comment > svg {
  margin-right: 3px;
}

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.75);
}

.comments-modal {
  position: absolute;
  top: 200px;
  left: 100px;
  right: 100px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,.24), 0 3px 12px 0 rgba(0,0,0,.12);
  min-width: 500px;
}

.comments-modal .modal-body > textarea {
  position: relative;
  left: 0;
  right: 0;
  height: 75px;
  font-size: 0.9em;
}

.comments-modal .modal-body input {
  width: 96%;
  padding: 5px;
  font-size: 0.9em;
  border: 1px solid #b3b3b3;
  border-radius: 3px;
  margin: 5px 0;
}

.comments-modal .modal-footer {
  margin: 15px 0 5px 0;
  text-align: center;
}


/* mobile */
@media only screen and (max-width: 768px) {
  .header > h1 {
    font-size: 1.8em;
    font-weight: 400;
  }

  .links {
    display: none;
  }

  .post {
    margin: 0 10px 0 0;
    padding: 25px 0 50px 0;
  }

  .post > .post-footer > .buttons, .info {
    float: none;
    padding-right: 0;
  }

  .comment-footer {
    margin: 10px 0 0 25px;
  }

  .comment-footer > .buttons, .info {
    float: none;
  }

  .comments-modal {
    top: 100px;
    left: 10px;
    right: 10px;
    min-width: 200px;
  }

  .comments-modal .modal-body > textarea {
    min-height: 200px;
  }

  .field-group {
    width: 95%;
  }

  .field-group > textarea {
    min-height: 200px;
  }
}